/* LOGO GANHESH CENTRO PÁGINA INICIAL */

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 15%;
    padding: 12.5% 0 20px 0;
}

#subtitulo {
    font-size: 50px;
    color: white;
    padding: 0 0 15% 0;

}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 768px) {
    .logo img {
        width: 30%;
        padding: 12.5% 0 20px 0;
    }

    #subtitulo {
        padding: 0 0 20% 0;

    }
}

@media (max-width: 480px) {
    .logo img {
        width: 40%;
        padding: 45% 0 20px 0;
    }

    #subtitulo {
        padding: 0 0 50% 0;

    }
}